<!DOCTYPE html>
<html>
<head>
  <title>roomy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8e82e704c0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/roomy4.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.css">

<script src="/js/jquery.min.js"></script>
<script src="/js/slick.min.js"></script> 
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand inverted" href="/">Roomy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-ellipsis-v" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="btn btn-lg inverted" href="/property" id="listbtn">List your property <i class="fa fa-home"></i></a>
        </li>
        <% if(!currentUser){ %>
          <li class="nav-item">
            <a class="nav-link" href="/user">Login <span class="sr-only">(current)</span></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= currentUser._id %>" style="color:rgb(100,150,255);margin-left: 15px;">
              <strong><i class="fas fa-user"></i> <%=currentUser.username%></strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div class="box1">

<div class="container">
  <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
      <button type="button" data-dismiss="alert" aria-label="Close" class="close" style="outline:none;">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= error %>
    </div>
  <% } %>
  <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
      <button type="button" data-dismiss="alert" aria-label="Close" class="close" style="outline:none;">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= success %>
    </div>
  <% } %>
</div>

    <div class="content1 inverted">
      <h1>Search for the rooms</h1>
      <form action="/roomy" method="GET">
        <input class="mymaininput" type="text" name="search" placeholder=" Search here..." aria-label="Search" autocomplete="on">
        <button type="submit" value="Search"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <div class="citibox inverted">
      <center>
        <h6>Welcome to Roomy! It is a room searching website where your preferences matter, a lot! So search to where you are headed for...</h6>
      </center>
    </div>
</div>



<!-- ====================================================== -->
<!-- box4====================================================== -->
<!-- ====================================================== -->



<div class="box4">

<div class="row">
  <div class="col-md-6 content2">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14666.33646282587!2d77.4391973!3d23.2218222!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1439e4e10cff53b5!2sHabibganj%20railway%20station!5e0!3m2!1sen!2sin!4v1610805924502!5m2!1sen!2sin" frameborder="0" allowfullscreen="true" aria-hidden="false" tabindex="0" class="inverted">
    </iframe>
  </div>
  <div class="col-md-6 content1">
    <div class="myfloatbox">
      <form action="/roomy" method="GET">
        <input type="text" placeholder="  Search.." name="search" id="myInput">
        <button class="btn btn1" type="submit" value="Search"><i class="fa fa-search"></i></button>
        <a class="btn btn2" id="myDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:0px;float: left;margin-left: 10px;">SORT</a>
            <div class="dropdown-menu" aria-labelledby="myDropdown">
              <form class="sortForm" action="/roomy" method="GET">
                <input type="text" name="sortby" value="rateAvg" class="d-none">
                <button type="submit" class="dropdown-item">Highest Rated</button>
              </form>
              <form class="sortForm" action="/roomy" method="GET">
                <input type="text" name="sortby" value="rateCount" class="d-none">
                <button type="submit" class="dropdown-item">Most Reviewed</button>
              </form>
              <form class="sortForm" action="/roomy" method="GET">
                <input type="text" name="sortby" value="priceLow" class="d-none">
                <button type="submit" class="dropdown-item">Lowest Price</button>
              </form>
              <form class="sortForm" action="/roomy" method="GET">
                <input type="text" name="sortby" value="priceHigh" class="d-none">
                <button type="submit" class="dropdown-item">Highest Price</button>
              </form>
              <form class="sortForm" action="/roomy" method="GET">
                <input type="text" name="sortby" class="d-none">
                <button type="submit" class="dropdown-item">Recent</button>
              </form>
            </div>
        <a class="btn btn3" type="button" href="#tothetop"><i class="fa fa-chevron-right fa-fw"></i></a>
      </form><br>
      <% if(noMatch != undefined){ %>
      <h5><%= noMatch %></h5>
      <% } %>
    </div>
    <div id="tothetop"></div>
    <% roomy.forEach(function(data){ %>
      <div class="thumbnail" id="mythumb">
        <div class="row">
          <div class="col-lg-8 col-8 incon1">
            <h3><%= data.type %></h3>
            <h6><i class="fa fa-map-marker fa-fw"></i><%= data.location %></h6>
            <h6 class="h6none">
              <%= data.select1 %> <%= data.select2 %> <%= data.select3 %> <%= data.select4 %>
              <%= data.select5 %> <%= data.select6 %> <%= data.select7 %> <%= data.select8 %> 
              <%= data.select9 %> <%= data.select10 %> <%= data.select11 %>
            </h6>
          </div>
          <div class="col-lg-4 col-4 incon2">
            <h3><i class="fa fa-rupee" style="font-size: 0.9em;"></i> <%= data.amount %></h3>
            <button class="btn btn-default inverted" data-container="body" data-toggle="popover" data-placement="left" data-content="+91 - <%= data.number %>"><i class="fa fa-phone"></i></button>
            <button class="btn btn-default inverted"><i class="fa fa-map-marker"></i></button>
            <button class="btn btn-default inverted"><i class="fa fa-envelope"></i></button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-4 col-6 incon4">
            <a href="/roomy/<%= data._id %>">
              <img src="<%= data.image %>" class="inverted">
            </a>
          </div>
          <div class="col-lg-8 col-6 incon5">
            <div class="row" style="padding:2% 1%;">
              <div class="col-md-6 myname" style="padding: 1%;">
                <% if(!currentUser){ %>
                  <a href="/roomy/<%= data._id %>" style="color:black;">
                    <h5><i class="fa fa-user-circle fa-fw" style="font-size: 15px;transform: translate(0px, -2px);margin-right: 5px;"></i><%= data.name %></h5>
                  </a>
                <% } else { %>
                  <a href="/users/<%= currentUser._id %>" style="color:black;">
                    <h5><i class="fa fa-user-circle fa-fw" style="font-size: 15px;transform: translate(0px, -2px);margin-right: 5px;"></i><%= data.name %></h5>
                  </a>
                <% } %>
              </div>
              <div class="col-md-6 mydetail" style="">
                <a href="/roomy/<%= data._id %>">
                  <button class="btn btn-default inverted">
                    <b>View Details</b> <i class="fa fa-chevron-right"></i>
                  </button>
                </a>
              </div>
              <div class="col-md-12">
                <hr>  
              </div>
              <div class="col-md-12" style="padding-top: 3%;">
                <div class="row">
                  <div class="col-md-10 col-10" style="font-size: 1em;text-align: left;">
                    <h6 class="card-subtitle" style="margin: 0px;">
                      <% if(data.comments.length === 0) { %>
                        <span class="text-muted">No Reviews</span>
                      <% } else { %>
                        <% var stars = ['<i class="fa fa-star text-danger "></i>', '<i class="fa fa-star text-danger "></i>', '<i class="fa fa-star text-danger "></i>', '<i class="fa fa-star text-danger "></i>', '<i class="fa fa-star text-danger "></i>'] %>
                        <% for(var i = 0; i < Math.round(data.rateAvg); i++) { %>
                            <i class="fa fa-star text-danger"></i>
                        <% } %>
                        <% if (data.comments.length === 1) { %>
                          <span class="text-muted"><%= data.comments.length %> <span id="myreview">Review</span></span>
                        <% } else { %>
                          <span class="text-muted"><%= data.comments.length %> <span id="myreview">Reviews</span></span>
                        <% } %>
                      <% } %>
                    </h6>
                  </div>
                  <div class="col-md-2 col-2" style="text-align: right;">
                    <div style="font-size: 16px;color:red;">
                      <i class="far fa-heart" id="mylikebtn" type="button"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
    <!-- <div class="row lastbox">
      <div class="col-md-3 col-4 icons">
        <i class="fa fa-facebook fa-fw"></i>
        <i class="fa fa-instagram fa-fw"></i>
        <i class="fa fa-linkedin fa-fw"></i>
        <i class="fa fa-twitter fa-fw"></i>
      </div>
      <div class="col-md-9 col-8 mytext">
        <em style="font-size: 12px;">
          Developed By 
          <a href="https://www.linkedin.com/in/mayank-singh-thakur-151010167/" style="color: black;text-decoration: underline;">Mayank Thakur</a>
        </em>
        <span style="letter-spacing: 1px;font-weight: 600;">
          <i class="fa fa-copyright fa-fw"></i> 2020 Roomy.com
        </span>
      </div>
    </div> -->
  </div>
</div>  
</div>

<%- include ('partials/footer'); -%>